In [72]:
import pandas as pd
import numpy as np

In [73]:
df_in = pd.read_csv('mhyph.txt', encoding = 'latin-1', header = None, names = ['words'])
df_in.head()

              words
0      a cap¥pel¥la
1     a for¥ti¥o¥ri
2           a go¥go
3  a pos¥te¥ri¥o¥ri
4        a pri¥o¥ri

In [74]:
def splitordie(x):
    try:
        return x.split()
    except:
        return np.nan

In [75]:
df_in['lists'] = df_in['words'].apply(splitordie)
df_in.dropna(inplace = True)
df_in.head()

              words                lists
0      a cap¥pel¥la      [a, cap¥pel¥la]
1     a for¥ti¥o¥ri     [a, for¥ti¥o¥ri]
2           a go¥go           [a, go¥go]
3  a pos¥te¥ri¥o¥ri  [a, pos¥te¥ri¥o¥ri]
4        a pri¥o¥ri        [a, pri¥o¥ri]

In [76]:
vocab = list({word for l in df_in['lists'] for word in l})
vocab[:5]

['Lux¥or', 'hawk¥ie', 'sub¥cham¥ber¥er', 'pes¥tif¥er¥ous¥ness', 'ter¥ry']

In [79]:
def count_syls(x):
    return x.count('¥') + 1
def clean_text(x):
    import re
    return re.sub(r'[^a-zA-Z0-9 ]', '', x).lower()

In [81]:
df_out = pd.DataFrame()
df_out['words'] = list(map(clean_text, vocab))
df_out['syls'] = list(map(count_syls, vocab))
df_out.head()

             words  syls
0            luxor     2
1           hawkie     2
2     subchamberer     4
3  pestiferousness     5
4            terry     2

In [83]:
df_out.to_csv('gutensyl.tsv', sep = '\t', encoding = 'utf-8', index = None)