In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/sents.tsv', sep = '\t')
df.head()

,id,sentence,syllables
0,1198464662960066560,Pushed hard to have Apple build in USA!,10
1,1198374984902676480,"% Approval Rate in the Republican Party, a rec...",15
2,1198374984902676480,Thank you!,2
3,1198370028153950209,Thank you Kevin for the nice words!,8
4,1198334870738604033,Sondland said Trump told him.,6

In [17]:
df_small = df[(df['syllables'] == 5) | (df['syllables'] == 7)]
df_small.head()

                      id                      sentence  syllables
59   1197848549310058496            Hello, here we go!          5
60   1197728882234925057    Thank you and , GREAT JOB!          5
63   1197705138275856384     SCHIFFS "FACT" WITNESSES!          5
92   1197503790729121794  lies are growing by the day.          7
101  1197499643086753793             President before.          5

In [18]:
df_small.to_csv('data/sents_small.tsv', index = False, sep = '\t')